################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Crashlytics/Crashlytics/obj
/Crashlytics/Crashlytics/bin/Debug/netstandard2.0
/Crashlytics/Crashlytics.Android/bin/Debug
/Crashlytics/Crashlytics.Android/obj
/Crashlytics/Crashlytics.iOS/obj
/.vs
